/* CSS file */

/* Textarea used in month view to display event description */
TextArea.txtArea
{
	borderStyle: none;
}

/* Skins for buttons used in week and day view */
Button.btnDayItems
{
	upSkin:ClassReference('classes.skins.ButtonSkin');
    overSkin:ClassReference('classes.skins.ButtonSkin');
    downSkin:ClassReference('classes.skins.ButtonSkin');
    disabledSkin:ClassReference('classes.skins.ButtonSkin');
    selectedUpSkin:ClassReference('classes.skins.ButtonSkin');
    selectedOverSkin:ClassReference('classes.skins.ButtonSkin');
    selectedDownSkin:ClassReference('classes.skins.ButtonSkin');
    selectedDisabledSkin:ClassReference('classes.skins.ButtonSkin');
	textAlign: left;
	paddingBottom: 0;
}

/* title for showing date used in day and week view */
Label.lblViewTitle
{
	fontWeight: bold;
	textAlign: left;
	color: #FFFFFF;
}
/* global button styles */
Button
{
	fillAlphas: 0.6, 0.6, 0.6, 0.6;
	fillColors: #FFFFFF, #CCCCCC;
}

/* Grid styles, used in month view */
Grid.grdMonthView
{
	horizontalGap: 0;
	verticalGap: 0;
}

/*used for showing day's name in week view */
Label.lblDaysNames
{
	fontWeight: bold;
	color: #FFFFFF;
}

/* Global HRule style */
HRule
{
	shadowColor: #004C7C;
}

/* Application controlbar style, used in all 3 views */
ApplicationControlBar.appBarDayCell
{
	fillAlphas: 1.0, 1.0;
	fillColors: #7FC4FF, #52AACA;
	cornerRadius: 0;
	paddingTop: 2;
}

/* Canvas used as base of month cell */
Canvas.canDayCellBase
{
	backgroundColor: #FFFFFF;
	borderStyle: solid;
	borderColor: #88C4EE;
}

/* hours label used in day and week view */
Label.lblHours
{
	color: #FFFFFF;
	fontFamily: Verdana;
	fontSize: 12;
}



/* mins label used in day and week view */
Label.lblMins
{
	color: #FFFFFF;
	fontFamily: Verdana;
	fontSize: 10;
}

/* Embed Verdana font in application 
@font-face
{
	fontFamily: Arial;
	fontWeight: normal;
	fontStyle: normal;
	src: local("Arial");
}

*/

GridColumn.headerStyled{
	width:90px;
}